body {
  // background-image: url("../images/background.gif"); 
  // background-position: center 25%; 
  // background-size: auto; 

}



.movie_poster {
  width: 200px;
}

.movie_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.filter {
  display: flex;
  align-items: center;

  &_box {
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 15px;
  }
}