body {
  background-image: url("../images/background.gif");
  background-position: center 25%;
  background-size: auto;
}

.movie__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-card {
      background-color: white;
      border: rgb(72, 68, 68) 4px dotted;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      font-weight: 700;
      height: 95%;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      width: 90%;
    }

    &-poster {
      width: 100%;
    }

    &-title {
      font-weight: 700;
      color: rgb(72, 68, 68);
    }

    &-year {
      font-weight: 400;
      color: rgb(72, 68, 68);
    }

    &-line {
      font-weight: 300;
      color: black;
      margin-bottom: 10px;
    }
  }
}

.filter {
  display: flex;
  align-items: center;

  &_box {
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 15px;
  }
}
