.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__title {
      font-size: 70px;
      color: rgb(72, 68, 68);
      margin: 30px 30px 15px 30px;
    }
  
    &__logo {
      margin-bottom: 5px;
      padding: 10px;
      width: 60%;
      border: rgb(72, 68, 68) 5px dotted;
      margin-bottom: 30px;
    }
  }